span.sorted-asc,
span.sorted-desc {
    text-decoration: underline;
    white-space: nowrap;
}
span.sortable {
    cursor: pointer;
}
span.sorted-asc::after {
    content: " ▲";
}
span.sorted-desc::after {
    content: " ▼";
}


header{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 650px) {
    header h4 {
       font-size: 13px;  
        
    }
}

@media (max-width: 650px) {
   #button1Dropdown {
        font-size: 10px; /* Adjust the font size as needed */
        padding: 5px 10px  !important; /* Adjust the padding as needed */
    }
}

@media (max-width: 650px) {
    .d-flex button {
         font-size: 10px; /* Adjust the font size as needed */
         padding: 5px 10px;  
     }
 }

 @media (max-width: 650px) {
    #carouselExampleControls img {
        width: 500px;
        height: 100px;
     }
 }
 
 @media (max-width: 650px) {
    #main_logs_user img {
        width: 25px;
        height: 25px;
     }
 }

 @media (max-width: 650px) {
    .col h2{
        font-size: 16px;  
     }
 }
 @media (max-width: 650px) {
    .col h4{
        font-size: 16px;  
     }
 }
 

#sludinajumi .col {
    padding-top: 20px;
}

#lists li button{
    width: 100%;
    border-radius: 0px;
    text-decoration: none;

}
#lists li button img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#sludinajumu_sekcija{
    padding-top: 20px;
}
#main_logs{
    border-color: rgb(173, 172, 172);
}

#main_logs_user{
    padding:20px;
    display: flex;
    justify-content: inline;
}
#main_logs_user img{
    height: 50px;
    width: 50px;
}
#main_logs_user a  {
    text-decoration: none;
    color: black;
}
#main_logs_user a p {
    padding-left: 10px;
    padding-top: 10px;
}

#sludinajumu_items{
    border-radius: 0px;
}
.d-flex{
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-item img{
    width: 700px;
    height: 200px;
}
.navbar-nav .nav-item .nav-link.active {
    color: #1a38a3 !important; /* Use !important to force the style */
}
