
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        font-size: 10px;
    }
    .header-right {
        float: none;
    }
}

*{
    background-color: red;
}

